<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project - Travel App</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

<body>
  <div id="container">
    <h1>
      Travel App
    </h1>
    <header>
      <h2>
        Plan your next holiday adventure!
      </h2>
    </header>

    <main>
      <div class="form">
        <div id="dateToday"></div>
        <div class="departure_date">
          <label for="date">Departure Date: </label>
          <input type="date" id="departure">
        </div>
        <div class="arrival_date">
          <label for="date">Arrival Date: </label>
          <input type="date" id="arrival">
        </div>
        <div class="holder_city">
          <label for="cityInput">Destination: </label>
          <input type="text" id="cityInput" placeholder="enter your destination here">
        </div>
        <button class="btn-grad" id="search" type="submit">Go!</button>
      </div>
      <div class="holder_entry">
        <img id="picture" src="" class="responsive"></img>
        <div id="icon"></div>
        <div id="city"></div>
        <div id="days"></div>
        <div id="tripLength"></div>
        <div id="capital"></div>
        <div id="country"></div>
        <div id="weatherCard">
          <div id="currentWeather"></div>
          <div id="weatherForecast"></div>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <p>&copy Copyright: Mark Goudie 2021</p>
  </footer>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
      rel="stylesheet"
    />

    < <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="general.css" /> -->
  <!-- </head>
  <body>
    <div class="container">
      <h1>Weather Journal App</h1>
      <div class="grid">
        <div class="contentbox">
          <label for="zip"> Enter Zipcode here</label>
          <input
            type="text"
            id="zip"
            placeholder=" Enter zip code here"
            required
          />
          <label for="feelings">How are you feeling today?</label>
          <textarea
            class="myInput"
            id="feelings"
            placeholder=" Enter your feelings here"
            cols="20"
            rows="4"
          ></textarea>
          <button class="btn-cta" id="generate" type="submit">Generate</button>
        </div>
        <div class="contentbox">
          <div class="title">Most Recent Entry</div>
          <div id="location">Location</div>
          <div id="date">Date</div>
          <div id="temp">Temperature</div>
          <div id="description">Description</div>
          <div id="content">How I'm Feeling</div>
          <div id="icon"></div>
        </div>
      </div>
    </div>
    <script src="app.js" type="text/javascript"></script>
  </body>
</html> --> 
