<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project - Travel App</title>

    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

<body>
  <main class="border">
    <div class="container">
      <h1> Travel Planner </h1>
      <div id="dateToday"></div>
        <div class="grid">
          <div class = "contentbox">
            <form class="">
              <label for="departure">When you would like to depart?</label>
              <input id="departure" type="date" value="" placeholder="dd/mm/yyyy">
              <label for="arrival">When would you like to arrive?</label>
              <input id="arrival" type="date" value="" placeholder="dd/mm/yyyy">
              <label for="cityInput">Please enter your desired destination:</label>
              <input id="cityInput" type="text" name="input" value="" placeholder="Example: Melbourne">
              <button class="btn-cta" id="generate" type="submit" value="submit">Let's Go!</button>
            </form>
          </div>
          <div>
            <img
            src="./img/main_holder.jpg"
            class="holdingImage"
            id="picture"
            alt="Map, camera, guides and satchel"
            />
            <span class="holder_entry">
              <img id="picture" src="" class="holdingImage"></img>
            </span>
          </div>
        </div>
        <div class="grid">
          <div class="contentbox">
            <div id="city"></div>
            <div id="days"></div>
            <div id="tripLength"></div>
            <div id="country"></div>
            <div id="capital"></div>
            <div id="currentWeather"></div>
            <div id="icon"></div>
          </div>
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy Copyright: Mark Goudie 2021</p>
  </footer>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</body>
</html>